.artifacts {
	overflow: auto;
	width: 90%;
	width: calc(100% - 2em);
	display: block;
	white-space: nowrap;
	position: relative;
}

.artifacts .chart-wrapper {
	overflow: hidden;
	display: inline-block;
	width: 50%;
}

.chart-wrapper .chart {
	width: 100%;
}

.artifacts .chart-wrapper .chart {
	width: calc(100% + 8em);
}

.chart {
	vertical-align: middle;
	display: inline-block;
	height: 35em;
	width: 65em;
	margin: 0em;
	margin-right: -10em;
}

@media ( max-width :75em) {
	.artifacts {
		overflow: visible;
		white-space: normal;
		text-align: center;
		padding-right:0em;
	}
	.artifacts .table-wrapper {
		max-width: 100%;
	}
		
	.artifacts .chart-wrapper {
		margin: 0em -2em;
		width: 100%;
		min-width: 0em;
		max-width: 100%;
	}
}

.chart-wrapper, .table-wrapper {
	vertical-align: middle;
	line-height: normal;
	/* Fixes the vertical centering through css voodoo. */
	/* http://codepen.io/edge0703/pen/iHJuA */
}