div.compare.Left {
	float: left;
}

div.compare.Right {
	float: right;
}

div.compare {
	width: 40%;
	width: calc(50% - 1em);
	overflow: auto;
}

h2, .controls {
	text-align: center;
	border-radius: .5em;
}

h2 {
	border: thick solid green;
	margin-bottom: -.25em;
	padding: 1em;
}

.artifacts {
	position: relative;
	width: 100% !important;
	min-width: none;
	overflow: visible !important;
	white-space: normal !important;
}

.artifacts .chart-wrapper {
	width: 100% !important;
	text-align: center;
	margin: .5em auto;
}

.artifacts .table-wrapper {
	width: 100%;
	text-align: center;
}

.artifacts .table-wrapper table {
	display: inline-block;
}

.controls div {
	text-align: center;
}

.mode-box {
	display: inline-block;
}

@MEDIA print {
	body {
		font-size: 8pt;
	}
	
	.controls, .header {
		display: none;
	}
	.message-bar {
		display: none;
	}
	h2 {
		display: none;
	}
	.command {
		display: none;
	}
	.chart-wrapper, .table-wrapper {
		overflow:visible !important;
		width:50%;
	}
}