body {
	font-size: 1em;
	font-size: calc(.5em + 1vh);
}

* {
	font-family: monospace;
	font-weight: bold;
}

.header {
	border: thick solid green;
	background: lightgreen;
	border-radius: 1em;
}

.logo {
	display: inline-block;
	padding: 1em;
	border-right: thick solid green;
}

.logo:hover {
	background: rgba(180, 0, 0, .1);
}

.menu-item {
	display: inline-block;
	padding: 1em;
}

.menu {
	display: inline-block;
}

#content {
	margin: 1em;
}

.menu a {
	text-decoration: none;
}

.menu-item:hover {
	background-color: rgba(125, 30, 0, .1);
}

.footer {
	position: relative;
}

.message-bar {
	border: thick solid darkred;
	border-radius: 1em;
	overflow: auto;
}

@media ( min-width :75em) {
	.message-bar {
		position: fixed;
		bottom: 0em;
		right: 0em;
		max-height: 20em;
		max-width: 50em;
	}
}

.message-bar table {
	width: 100%;
}

.message-bar td {
	background: azure;
	border-radius: 1em;
	padding: 1em;
}

.back-link {
	display: inline-block;
	padding: 1em;
	background: lightgray;
	border-radius: 1em;
	text-decoration: none;
	position: fixed;
	bottom: 0em;
	left: 0em;
}

.schools-table th, .schools-table td {
	padding: .5em;
}

.schools-table .number {
	display: block;
	text-align: center;
}

.test-picker, .tag-picker {
	display: inline-block;
}

table {
	background: rgba(15, 200, 50, .1);
	padding: 1em;
	border-spacing: .25em;
}

td, th {
	text-align: center;
	padding: .5em;
}

td {
	background: rgba(15, 200, 50, .2);
}

.table-wrapper {
	display: inline-block;
	max-width: 100%;
	overflow: auto;
}

.controls {
	border: thick solid blue;
	background: rgba(15, 50, 200, .2);
	padding: 1em;
	margin-bottom: 1em;
}

.controls table, table.controls {
	background: #E6F9EA;
}

@media ( max-width :75em) {
	body, select, input, option {
		font-size:1em;
	}
	.controls {
		text-align: center;
	}
	h1, h2, h3, h4 {
		text-align: center;
	}
	form, .controls {
		text-align: center;
	}
	form div {
		text-align: left;
	}
	a div {
		display: inline-block;
	}
	table {
		margin-left: auto;
		margin-right: auto;
	}
	table .school-wrapper {
		display: block;
	}
	.controls table, .school-wrapper {
		display: inline-block;
		text-align: center;
	}
	.instruct, .toc {
		text-align: center;
	}
	
	.message-bar {
		display:none;
	}
}

a table {
	color: black;
	cursor: crosshair;
}

.instruct {
	font-style: italic;
	font-size: .8em;
	opacity: .5;
}

li {
	padding: 5px;
}

h2, h3 {
	margin-top: 1.5em;
}

.school-wrapper {
	display: inline-block;
}

.toc a {
	margin: 1em;
}

#content {
	position:relative;
}