<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="text" default='Back' />
</composite:interface>

<composite:implementation>
	<h:link styleClass='back-link' value='#{cc.attrs.text}'
		onclick="history.go(-1)" />
</composite:implementation>

</html>