<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="target"
		type="edu.jmu.cs474.pivlds.model.Demographic"
		default="#{demographicSelector.current}" />

	<composite:attribute name="showKey" default="false" />

</composite:interface>

<composite:implementation>
	<div class='table-wrapper'>
		<h:panelGrid columns="#{cc.attrs.showKey ? 7 : 6}"
			styleClass="demographic-picker">
			<h:outputLabel value='Key' rendered="#{cc.attrs.showKey}" />
			<h:outputLabel value='Race' />
			<h:outputLabel value='Gender' />
			<h:outputLabel value='Disabil' />
			<h:outputLabel value='Disadva' />
			<h:outputLabel value='LEP' />
			<h:outputText value="&#160;" class="command" />

			<h:outputText value='#{cc.attrs.target.key}'
				rendered="#{cc.attrs.showKey}" />

			<composites:race-picker target="#{cc.attrs.target}" />

			<h:selectOneMenu value="#{cc.attrs.target.gender}"
				onchange="this.form.submit()">
				<f:selectItems value="#{selectorGroups.genders}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.disabil}"
				onchange="this.form.submit()">
				<f:selectItems value="#{selectorGroups.disabils}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.disadva}"
				onchange="this.form.submit()">
				<f:selectItems value="#{selectorGroups.disadvas}" />
			</h:selectOneMenu>

			<h:selectOneMenu value="#{cc.attrs.target.lep}"
				onchange="this.form.submit()">
				<f:selectItems value="#{selectorGroups.leps}" />
			</h:selectOneMenu>

			<h:commandButton action="#{cc.attrs.target.reset()}" value='Reset'
				class="command" />
		</h:panelGrid>
	</div>
</composite:implementation>

</html>
