<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>
	<composite:attribute name="code" required='true' />
</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="jsf-helper.js" target='head' />
	<script type="text/javascript">
		var script = document.scripts[document.scripts.length - 1];
		var parent = script.parentNode;
		var id = parent.id
		var jsfid = jsfId(id)
		/* injected */
		#{cc.attrs.code}
		/* /injected */
	</script>
</composite:implementation>
</html>
