<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>

	<composite:attribute name="school" required='true'
		type='edu.jmu.cs474.pivlds.model.School'
		default='#{schoolSelector.current}' />
		
	<composite:attribute name="demographic" required='true'
		type='edu.jmu.cs474.pivlds.model.Demographic'
		default='#{demographicSelector.current}' />

	<composite:attribute name="key"/>
	<composite:attribute name="report"
		default="#{reports.ev(cc.attrs.key)}" />
		
</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="chart-helper.js" target='head' />

	<h:panelGroup layout='block' styleClass="artifacts">

		<composites:evtable report="#{cc.attrs.report}" id='table-wrapper'
			school='#{cc.attrs.school}' demographic='#{cc.attrs.demographic}' />

		<composites:gchart id='plot-Counts'
			source="#{cc.clientId}:table-wrapper:table"
			title="Demographic Counts \n #{cc.attrs.school} \n #{cc.attrs.demographic}"
			headerRow="1" xLabel="Year" yLabel="Students"
			columns="Count,Global,Change">
		</composites:gchart>

		<composites:gchart id='dem-ratio'
			source="#{cc.clientId}:table-wrapper:table"
			title="Demographic Ratios \n #{cc.attrs.school} \n #{cc.attrs.demographic}"
			headerRow="1" xLabel="Year" yLabel="Ratio"
			columns="Growth,Weight, Growth Weighted" yType="float" minY='-.5'
			maxY='1'>
		</composites:gchart>
	</h:panelGroup>
</composite:implementation>
</html>
