<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>
	<composite:attribute name="school" required='true'
		type='edu.jmu.cs474.pivlds.model.School' />
	<composite:attribute name="demographic" required='true'
		type='edu.jmu.cs474.pivlds.model.Demographic' />

	<composite:attribute name="key" default="#{null}" />
	<composite:attribute name="report"
		default="#{reports.ev(cc.attrs.key)}" />


</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class='table-wrapper'>
		<h:dataTable id='table'
			value="${cc.attrs.report.query(cc.attrs.school, cc.attrs.demographic)}"
			var="item" disabled='#{cc.attrs.school.sch_pk != null}'>
			<f:facet name='header'>
				<composites:school showheaders='false' target="#{cc.attrs.school}" />
				<p>Demographic : #{cc.attrs.demographic}</p>
			</f:facet>

			<!-- Time Series Key -->
			<h:column>
				<f:facet name='header'> Year </f:facet>
					#{item.sch_year}
				</h:column>

			<!-- Integer columns -->
			<h:column>
				<f:facet name='header'> Count </f:facet>
					#{item.fall_cnt}
				</h:column>
			<h:column>
				<f:facet name='header'> Global </f:facet>
					#{item.all_cnt}
				</h:column>
			<h:column>
				<f:facet name='header'> Change </f:facet>
					#{item.diff_cnt}
				</h:column>

			<!-- Ratio columns -->
			<h:column>
				<f:facet name='header'> Weight </f:facet>
					#{item.dem_weight}
				</h:column>
			<h:column>
				<f:facet name='header'> Growth </f:facet>
					#{item.growth}
				</h:column>
			<h:column>
				<f:facet name='header'> Growth <br /> Weighted </f:facet>
					#{item.growth_weight}
				</h:column>
		</h:dataTable>
	</div>
</composite:implementation>

</html>