<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>
	<composite:attribute name="source"
		shortDescription="The table that is the list" />

	<composite:attribute name="format" default="table-html"
		shortDescription="The format of the source attribute" />

	<composite:attribute name="target" default="##{cc.clientId}:target"
		shortDescription="The element the chart will be drawn to." />

	<composite:attribute name="title" />
	<composite:attribute name="xLabel" />
	<composite:attribute name="yLabel" />

	<composite:attribute name="yMax" />
	<composite:attribute name="yMin" />

	<composite:attribute name="columns"
		shortDescription="Comma separated list of column names" />
	<composite:attribute name="yType" default="int" />
	<composite:attribute name="headerRow" default="0" />
</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="chart-helper.js" target='head' />

	<div id='#{cc.clientId}' class="chart-wrapper" data-chart="true"
		data-format="#{cc.attrs.format}" data-table="#{cc.attrs.source}"
		data-target="#{cc.attrs.target}" data-title="#{cc.attrs.title}"
		data-header-row="#{cc.attrs.headerRow}"
		data-axis-x="#{cc.attrs.xLabel}" data-axis-y="#{cc.attrs.yLabel}"
		data-columns="#{cc.attrs.columns}"
		data-axis-y-type="#{cc.attrs.yType}" data-max-value="#{cc.attrs.yMax}"
		data-min-value="#{cc.attrs.yMin}">
		<composites:chart-trigger />
		<h:panelGroup styleClass="chart" id="target" layout="block" />
	</div>
</composite:implementation>
</html>
