<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
	<composite:attribute name="world" required='true' />
	<composite:attribute name="from" />
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}">
		Hello
		<h:outputText id='world' value='#{cc.attrs.world}' />
		from
		<h:outputText id='from' value='#{cc.attrs.from}' />
		!
	</div>
</composite:implementation>

</html>