<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
	<composite:attribute name="target"
		type="edu.jmu.cs474.pivlds.model.Demographic"
		default="#{demographicSelector.current}" />
</composite:interface>

<composite:implementation>

	<h:selectOneMenu id="select" name="#{cc.clientId}"
		value="#{cc.attrs.target.race}" onchange="this.form.submit()">
		<f:selectItems value="#{selectorGroups.races}" var='item'
			itemLabel='#{item.sqlString()}' />
	</h:selectOneMenu>

	<script>
		(function() {
			var selectName = '#{cc.clientId}:select';
			var select = document.getElementsByName(selectName)[0];
			console.log(select);
			var kids = select.getElementsByTagName("option");
			var index = 0;
			<ui:repeat value="#{selectorGroups.races}" var="_opt">
			kids[index++].title = '#{_opt.description}';
			</ui:repeat>
		}());
		<!--citation: http://stackoverflow.com/a/9802704 -->
	</script>

</composite:implementation>
</html>
