<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<composite:interface>
	<composite:attribute name="target" />
</composite:interface>

<composite:implementation>

	<h:selectOneMenu id="select" name="#{cc.clientId}"
		value="#{cc.attrs.target}"
		onchange="this.form.submit()">
		<f:selectItems value="#{compareModes.modes}" var='item'
			itemLabel='#{item.prettyString()}' />
	</h:selectOneMenu>

</composite:implementation>
</html>
