<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="target" default="#{schoolSelector}" 
	type="edu.jmu.cs474.pivlds.beans.SchoolSelector"
	/>
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class="controls">
		<h:panelGrid id="inputs" columns="2" styleClass="search">
			<h:outputLabel for="search">Search</h:outputLabel>
			<h:outputText value='Widen' />

			<h:inputText id="search" value="#{schoolSelector.search}"
				onkeypress="if (event.keyCode == 13) submit();" />

			<h:panelGroup>
				<h:commandButton value="Entire District"
					action="#{cc.attrs.target.selectEntireDivision()}"
					disabled="#{cc.attrs.target.current.sch_num eq 0}" />
				<h:commandButton value="Entire State"
					action="#{cc.attrs.target.selectEntireState()}"
					disabled="#{cc.attrs.target.current.div_num eq 0 and cc.attrs.target.current.sch_num eq 0}" />
			</h:panelGroup>
		</h:panelGrid>
	</div>
</composite:implementation>

</html>