<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="key" />
	<composite:attribute name="target"
		default="#{empty cc.attrs.key ? schoolSelector : schoolSelectors.get(cc.attrs.key) }" />
</composite:interface>

<composite:implementation>
	<h2>Current:</h2>
	<composites:school target="#{cc.attrs.target.current}" showkeys="true" />

	<h2>Tools:</h2>
	<div id="#{cc.id}" class="controls">
		<h:panelGrid id="inputs" columns="2" styleClass="search">
			<h:outputLabel for="search">Search</h:outputLabel>
			<h:outputText value='Widen' />

			<h:inputText id="search" value="#{cc.attrs.target.search}"
				onkeypress="if (event.keyCode == 13) submit();" />

			<h:panelGroup>
				<h:commandButton value="Entire Division"
					action="#{cc.attrs.target.selectEntireDivision()}"
					disabled="#{cc.attrs.target.current.sch_num eq 0}" />
				<h:commandButton value="Entire State"
					action="#{cc.attrs.target.selectEntireState()}"
					disabled="#{cc.attrs.target.current.div_num eq 0 and cc.attrs.target.current.sch_num eq 0}" />
			</h:panelGroup>
		</h:panelGrid>
	</div>

	<composites:schools-table values='#{cc.attrs.target.searchResults}'
		listener='#{cc.attrs.target}' emptyheaders="false"
		rendered="#{not empty cc.attrs.target.search}" />

</composite:implementation>

</html>