<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite">

<composite:interface>
	<composite:attribute name="values" type="java.util.List"
		required='true' />
	<composite:attribute name="dokeys" default="true" />
	<composite:attribute name="listener" required="true" />
</composite:interface>

<composite:implementation>
	<div id="#{cc.id}">
		<h:dataTable id="schools-table" value="#{cc.attrs.values}"
			var='school' styleClass="schools-table">

			<h:column>
				<h:commandButton value="Select">
					<f:setPropertyActionListener
						target="#{cc.attrs.listener.selectedSchool}" value="#{school}" />
				</h:commandButton>
				<!-- @citation http://stackoverflow.com/questions/11927157/getting-selected-row-data-from-datatable-in-jsf -->
			</h:column>

			<h:column rendered="#{cc.attrs.dokeys}">
				<f:facet name="header">key</f:facet>
				<span class="number">#{school.sch_pk}</span>
			</h:column>

			<h:column rendered="#{cc.attrs.dokeys}">
				<f:facet name="header">div</f:facet>
				<span class="number">#{school.div_num}</span>
			</h:column>

			<h:column rendered="#{cc.attrs.dokeys}">
				<f:facet name="header">sch</f:facet>
				<span class="number">#{school.sch_num}</span>
			</h:column>

			<h:column rendered="#{cc.attrs.dokeys}">
				<f:facet name="header">District</f:facet>
				<span class="name">#{school.div_name}</span>
			</h:column>

			<h:column rendered="#{cc.attrs.dokeys}">
				<f:facet name="header">Location</f:facet>
				<span class="name">#{school.sch_name}</span>
			</h:column>

		</h:dataTable>
	</div>
</composite:implementation>

</html>