<!DOCTYPE html>
<html xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:composite="http://java.sun.com/jsf/composite"
	xmlns:composites="http://java.sun.com/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="target" default="#{testSelector}" />
	<composite:attribute name="disabled" default="false" />
</composite:interface>

<composite:implementation>
	<div id="#{cc.clientId}" class="test-picker">
		<h:selectOneMenu value="#{cc.attrs.target.selected}"
			onchange="this.form.submit()" disabled="#{cc.attrs.disabled}">
			<f:selectItems value="#{testSelector.values}" />
		</h:selectOneMenu>
	</div>
</composite:implementation>

</html>