<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<composite:interface>
	<composite:attribute name="school" required='true'
		type='edu.jmu.cs474.pivlds.model.School'
		default='#{schoolSelector.current}' />

	<composite:attribute name="demographic" required='true'
		type='edu.jmu.cs474.pivlds.model.Demographic'
		default='#{demographicSelector.current}' />

	<composite:attribute name="test" required='true'
		type='edu.jmu.cs474.pivlds.model.TestId'
		default='#{testSelector.selected}' />

	<composite:attribute name="tag" required='true'
		type='edu.jmu.cs474.pivlds.model.TestAchievementGroup'
		default='#{tagSelector.selected}' />

	<composite:attribute name="key" default="#{null}" />
	<composite:attribute name="report" default="#{reports.th(cc.attrs.key)}" />

</composite:interface>

<composite:implementation>
	<h:outputScript library="js" name="chart-helper.js" target='head' />
	<h:outputStylesheet library="css" name="artifacts.css" />

	<h:panelGroup layout='block' styleClass="artifacts">

		<composites:thtable id='data' report='#{cc.attrs.report}'
			school='#{cc.attrs.school}' demographic='#{cc.attrs.demographic}'
			test='#{cc.attrs.test}' tag="#{cc.attrs.tag}" />

		<composites:chart-percents id='raw' source="#{cc.clientId}:data:table"
			title="TAG History :: #{cc.attrs.tag} \n 
			#{cc.attrs.school} :: #{cc.attrs.demographic} \n 
			#{cc.attrs.test} "
			headerRow="1" xLabel="Year" yLabel="% of Students"
			columns="Rate, Diff, Velocity">
		</composites:chart-percents>

		<composites:chart-percents id='weighted'
			source="#{cc.clientId}:data:table"
			title="TAG History (Weighted) :: #{cc.attrs.tag} \n 
			#{cc.attrs.school} :: #{cc.attrs.demographic} \n 
			#{cc.attrs.test}"
			headerRow="1" xLabel="Year" yLabel="% of Student"
			columns="Rate Weighted, Diff Weighted, Velocity Weighted">
		</composites:chart-percents>

	</h:panelGroup>
</composite:implementation>
</html>
