<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="school" default="#{schoolSelector.current}" />
	<composite:attribute name="demographic"
		default="#{demographicSelector.current}" />
	<composite:attribute name="test" default="#{testSelector.selected}" />
	<composite:attribute name="tag" default="#{tagSelector.selected}"
		type="edu.jmu.cs474.pivlds.model.TestAchievementGroup" />

	<composite:attribute name="key" default="#{null}" />
	<composite:attribute name="report" default="#{reports.th(cc.attrs.key)}" />

</composite:interface>

<composite:implementation>
	<div id="#{cc.clientId}" class='table-wrapper'>
		<h:dataTable id='table'
			value="${cc.attrs.report.run(cc.attrs.tag, cc.attrs.test, cc.attrs.school, cc.attrs.demographic)}"
			var="item">
			<f:facet name='header'>
				<composites:school showheaders='false' target="#{cc.attrs.school}" />
				<p>Demographic : #{cc.attrs.demographic}</p>
				<p>#{cc.attrs.test} :: #{cc.attrs.tag}</p>
			</f:facet>

			<!-- Time Series key -->
			<h:column>
				<f:facet name='header'> Year </f:facet>
					#{item.year}
				</h:column>

			<!-- Raw values -->
			<h:column>
				<f:facet name='header'> Rate </f:facet>
					#{item.tag_rate}
				</h:column>
			<h:column>
				<f:facet name='header'> Diff </f:facet>
					#{item.tag_diff}
				</h:column>
			<h:column>
				<f:facet name='header'> Velocity </f:facet>
					#{item.velocity}
				</h:column>

			<!-- Weighted Values -->
			<h:column>
				<f:facet name='header'> Rate <br /> Weighted </f:facet>
					#{item.rate_weighted}
				</h:column>
			<h:column>
				<f:facet name='header'> Diff <br /> Weighted </f:facet>
					#{item.diff_weighted}
				</h:column>
			<h:column>
				<f:facet name='header' rendered='false'> Velocity <br /> Weighted </f:facet>
					#{item.velocity_weighted}
			</h:column>

		</h:dataTable>
	</div>
</composite:implementation>

</html>