<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">

<composite:interface>
	<composite:attribute name="school" default="#{schoolSelector.current}" />
	<composite:attribute name="demographic"
		default="#{demographicSelector.current}" />
	<composite:attribute name="test" default="#{testSelector.selected}" />

	<composite:attribute name="key" default="#{null}" />
	<composite:attribute name="report" default="#{reports.vt(cc.attrs.key)}" />

</composite:interface>

<composite:implementation>
	<div id="#{cc.id}" class='table-wrapper'>
		<h:dataTable id='table'
			value="${cc.attrs.report.run(cc.attrs.test, cc.attrs.school, cc.attrs.demographic)}"
			var="item">
			<f:facet name='header'>
				<composites:school showheaders='false' target="#{cc.attrs.school}" />
				<p>Demographic : #{cc.attrs.demographic}</p>
				<p>#{cc.attrs.test}</p>
			</f:facet>

			<!-- Time Series key -->
			<h:column>
				<f:facet name='header'> Year </f:facet>
					#{item.year}
				</h:column>

			<!-- Raw values -->
			<h:column>
				<f:facet name='header'> Upper </f:facet>
					#{item.upper}
				</h:column>
			<h:column>
				<f:facet name='header'> Lower </f:facet>
					#{item.lower}
				</h:column>

			<!-- Weighted Values -->
			<h:column>
				<f:facet name='header'> Upper <br /> Weighted </f:facet>
					#{item.upper_weighted}
				</h:column>
			<h:column>
				<f:facet name='header'> Lower <br /> Weighted </f:facet>
					#{item.lower_weighted}
				</h:column>

		</h:dataTable>
	</div>
</composite:implementation>

</html>