<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<ui:composition>
	<h:head>
		<title>&#960;VLDS</title>
		<style>
.note {
	margin-left: 4em;
	margin-bottom: 2em;
}

h2 {
	margin-top: 2em;
}
</style>
	</h:head>

	<div id="default-text">
		<h2>Welcome to &#960;VLDS.</h2>
		<em>Tracking Demographic Velocities in the VLDS</em>

		<h2>Overview</h2>
		<p>The VLDS provides aggregated enrollment and standardized
			testing data for Virginia, its schools, and divisions.</p>

		<p>&#960;VLDS compares this data against previous years to graph
			demographic trends in student populations and test scores.</p>

		<h2>Getting Started</h2>
		<p class="pointer">
			<h:link outcome='/report.jsf' value="Reports" />
			provides detailed information about a specific region, demographic,
			and test.
		</p>

		<p class="note">Use this page to learn about the data &#960;VLDS
			provides. Each table and report option is explained.</p>

		<p class="pointer">
			<h:link outcome='/compare.jsf' value="Compare" />
			allows you to view specific charts and tables side by side.
		</p>

		<p class="note">Once you are familiar with the data available, you
			can start using &#960;VLDS to research the relationships between
			different regions and demographics.</p>

		<p class="pointer">
			<h:link outcome='/about.jsf' value="About" />
			provides information about the project history, the author,
			acknowledgments, and open source links for developers.
		</p>

		<p class="note">"There will be punch and &#960;."</p>

		<h2>Options</h2>
		<h:form>
			<div>
				<h:outputLabel for="explain" value="Explainations" />
				are
				<h:commandButton id="explain"
					action="#{helpOptions.toggleExplanations()}"
					value="#{helpOptions.showExplanations ? 'On' : 'Off'}" />
			</div>

			<div>
				<h:outputLabel for="instruct" value="Instructions" />
				are
				<h:commandButton id="instruct"
					action="#{helpOptions.toggleInstructions()}"
					value="#{helpOptions.showInstructions ? 'On' : 'Off'}" />
			</div>

		</h:form>
	</div>
</ui:composition>
</html>