<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
<head>
<title>Insert title here</title>
</head>
<body>
	<ui:composition>
		<div class='header'>
			<h:link outcome="/index">
				<div class='logo'>&#960;VLDS</div>
			</h:link>
			<div class='menu'>
				<h:link outcome="/report">
					<div class='menu-item'>Report</div>
				</h:link>

				<h:link outcome='/compare'>
					<div class='menu-item'>Compare</div>
				</h:link>

				<h:link outcome='/about'>
					<div class='menu-item test'>About</div>
				</h:link>
			</div>
		</div>
	</ui:composition>
</body>
</html>