<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition>
	<h:head id="head">
		<ui:insert name='head'>
			<title>template</title>
		</ui:insert>
		<h:outputStylesheet library="css" name="pivlds.css" />
		<h:outputStylesheet library="css" name="artifacts.css" />
		<h:outputStylesheet library="css" name="animate.css" />
		<h:outputStylesheet library="css" name="hideExplanations.css"
			rendered="#{not helpOptions.showExplanations}" />
		<h:outputStylesheet library="css" name="hideInstructions.css"
			rendered="#{not helpOptions.showInstructions}" />
	</h:head>
	<h:body>

		<div id="page">
			<div id="header">
				<ui:insert name="header">
					<ui:include src="/template/header.xhtml" />
				</ui:insert>
			</div>

			<div id="content">
				<ui:insert name="content">
					<ui:include src="/template/default.xhtml" />
				</ui:insert>
			</div>

			<div id="footer">
				<ui:insert name="footer">
					<ui:include src="/template/footer.xhtml" />
				</ui:insert>
			</div>
		</div>
	</h:body>
</ui:composition>

</html>
<!-- citation: http://www.mkyong.com/jsf2/jsf-2-templating-with-facelets-example/ -->