<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name='head'>
		<title>Enrollment Table Test</title>
		<style>
.form {
	display: inline-block;
	float: left;
	border: thin solid darkgreen;
	margin: 1em;
	padding: 1em;
}

td, th {
	text-align: center;
	padding: .5em;
}
</style>
	</ui:define>
	<ui:define name="content">

		<h:head>

		</h:head>
		<h:body>

			<p>
				<composites:back-link />
			</p>

			<h2>Synopsis</h2>
			<div>This page tests ResultSet to HTML table generation.</div>

			<div class='form'>
				<h2>Form 1 | School</h2>
				<div>
					<h:form>
	School Like: <h:inputText value="#{schoolSelector.likeText}" />
						<h:commandButton value="like"
							actionListener="#{schoolSelector.doLike}" />
						<h:commandButton value="key"
							actionListener="#{schoolSelector.doKey}" />
					</h:form>
				</div>

				<h2>Output</h2>
				<composites:school target="#{schoolSelector.current}"
					showkeys='true' />

			</div>

			<div class='form'>
				<h2>Form 2 | Demographic</h2>
				<div>
					<h:form>
						<composites:demographic-picker
							target='#{demographicSelector.current}' />
					</h:form>
				</div>

				<h2>Output</h2>
				<div>#{demographicSelector.current}</div>
			</div>

			<div class='form'>
				<h2>Enrollment Table</h2>
				<div>
					<composites:evtable school='#{schoolSelector.current}'
						demographic='#{demographicSelector.current}' />
				</div>
			</div>
		</h:body>
	</ui:define>
</ui:composition>
</html>