<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name="head">
		<title>TEST: Race Picker Titles</title>
		<style>
.halfer {
	width: 40%;
	min-height: 10em;
	border: thin solid red;
	display: inline-block;
	padding: 1em;
}
</style>
	</ui:define>
	<ui:define name='content'>
		<h:form id="race-form">
			<composites:race-picker />
		</h:form>
	</ui:define>
</ui:composition>
</html>