<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name="head">
		<title>Responsive Chart Test</title>
		<style>
.chart-wrapper {
	width: calc(100% - 5em);
}
</style>

	</ui:define>
	<ui:define name="content">

		<p>
			<composites:back-link />
		</p>

		<h2>Synopsis</h2>
		<div>This page tests the responsive chart composite.</div>

		<h2>h:dataTable</h2>
		<table id="table" onclick="this.className='animated fadeOutLeft'">
			<thead>
				<tr>
					<th colspan="7" scope="colgroup"><div>
							<table id="j_idt89:table:j_idt90:names" class="names"
								style="display: inline-block" cellpadding="5">
								<tbody>
									<tr>
										<td><span id="j_idt89:table:j_idt90:div_name">Rockingham
												County</span></td>
										<td><span id="j_idt89:table:j_idt90:sch_name">Spotswood
												High</span></td>
									</tr>
								</tbody>
							</table>
						</div> <span>Demographic : Gender(F), Disadva(Y)</span></th>
				</tr>
				<tr>
					<th scope="col">Year</th>
					<th scope="col">Count</th>
					<th scope="col">Global</th>
					<th scope="col">Weight</th>
					<th scope="col">Change</th>
					<th scope="col">Growth</th>
					<th scope="col">Growth <br /> Weighted
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>2014</td>
					<td>123</td>
					<td>845</td>
					<td>0.15</td>
					<td>-19</td>
					<td>-0.13</td>
					<td>-0.02</td>
				</tr>
				<tr>
					<td>2013</td>
					<td>142</td>
					<td>900</td>
					<td>0.16</td>
					<td>5</td>
					<td>0.04</td>
					<td>0.01</td>
				</tr>
				<tr>
					<td>2012</td>
					<td>137</td>
					<td>837</td>
					<td>0.16</td>
					<td>8</td>
					<td>0.06</td>
					<td>0.01</td>
				</tr>
				<tr>
					<td>2011</td>
					<td>129</td>
					<td>812</td>
					<td>0.16</td>
					<td>-3</td>
					<td>-0.02</td>
					<td>0.0</td>
				</tr>
				<tr>
					<td>2010</td>
					<td>132</td>
					<td>834</td>
					<td>0.16</td>
					<td>-63</td>
					<td>-0.32</td>
					<td>-0.04</td>
				</tr>
				<tr>
					<td>2009</td>
					<td>195</td>
					<td>1361</td>
					<td>0.14</td>
					<td>37</td>
					<td>0.23</td>
					<td>0.03</td>
				</tr>
				<tr>
					<td>2008</td>
					<td>158</td>
					<td>1360</td>
					<td>0.12</td>
					<td>14</td>
					<td>0.1</td>
					<td>0.01</td>
				</tr>
				<tr>
					<td>2007</td>
					<td>144</td>
					<td>1356</td>
					<td>0.11</td>
					<td>9</td>
					<td>0.07</td>
					<td>0.01</td>
				</tr>
				<tr>
					<td>2006</td>
					<td>135</td>
					<td>1383</td>
					<td>0.1</td>
					<td>0</td>
					<td>0.0</td>
					<td>0.0</td>
				</tr>
			</tbody>
		</table>

		<h:form id="form">

			<composites:gchart id='chart' styleClass="chart1" source="table"
				title="Demographic Population" headerRow="1" xLabel="Year"
				yLabel="Students" columns="Count,Global,Change" yType="int">
			</composites:gchart>

			<composites:gchart id='student-ratios' source="table"
				title="Demographic Ratios" headerRow="1" xLabel="Year"
				yLabel="Students" columns="Growth, Weight, Growth Weighted"
				yType="float" yMin="-.50" yMax="1" />

		</h:form>
		<!-- 
			<div id='chart2' data-chart="true" data-table="table"
				data-title="Demographic Ratio" data-header-row="1"
				data-axis-x="Year" data-axis-y="Percentage"
				data-columns="Growth,Weight, Growth Weighted"
				data-axis-y-type="float">
				<composites:chart-trigger />
			</div>
			 -->
	</ui:define>
</ui:composition>
</html>