<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name='head'>
		<title>SchoolSelector.java Test</title>
		<style></style>
	</ui:define>
	<ui:define name="content">

		<p>
			<composites:back-link />
		</p>

		<h2>Synopsis</h2>
		<div>
			This page tests
			<code>SchoolSelector.java</code>
		</div>

		<h2>Form</h2>
		<div>
			<h:form id="form1">
	School Like: <h:inputText value="#{schoolSelector.likeText}" />
				<h:commandButton value="like"
					actionListener="#{schoolSelector.doLike}" />
				<h:commandButton value="key"
					actionListener="#{schoolSelector.doKey}" />
			</h:form>
		</div>

		<h2>Output</h2>
		<composites:school target="#{schoolSelector.current}" showkeys='true' />

		<h2>Form 2</h2>
		<div>
			<h:form id="form2">
				<composites:school-picker id="composite-picker" />
			</h:form>
		</div>

		<h2>Output</h2>
		<composites:school target="#{schoolSelector.current}" showkeys='true' />


	</ui:define>
</ui:composition>
</html>