<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composite="http://xmlns.jcp.org/jsf/composite"
	xmlns:composites="http://xmlns.jcp.org/jsf/composite/composites">
<h:head>

</h:head>
<h:body>
	<ui:composition template='/template/page.xhtml'>
		<ui:define name="head">
			<title>Achievement Group History</title>
		</ui:define>
	
		<ui:define name="content">

			<h:form id='form' class='form' style='clear: both; display: block;'>
				<composites:tag-picker id="tag-picker" />
				<composites:test-picker id="test-picker" />
				<div>
					<composites:thtable id="th-table" />
				</div>

				<div id="chart-base" data-chart="true"
					data-table="form:th-table:table"
					data-title="Achievement Group : #{tagSelector.selected}"
					data-header-row="1" data-axis-x="Year"
					data-axis-y="Achievement Rate" data-columns="Rate, Diff, Velocity"
					data-axis-y-type="int">
					<composites:chart-trigger />
				</div>
				
				<div id="chart-weighted" data-chart="true"
					data-table="form:th-table:table"
					data-title="Achievement Group : #{tagSelector.selected}"
					data-header-row="1" data-axis-x="Year"
					data-axis-y="Achievement Rate" data-columns="Rate Weighted, Diff Weighted, Velocity Weighted"
					data-axis-y-type="int">
					<composites:chart-trigger />
				</div>
			</h:form>

		</ui:define>
	</ui:composition>
</h:body>

</html>