<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name="head">
		<title>&#960;VLDS | About</title>
	</ui:define>

	<ui:define name="content">
		<h1>Behind the Scenes</h1>

		<h2>Open Source Ethos</h2>
		<div>
			<p>&#960;VLDS was developed to be open source.</p>
			<p>It's published without a license. I don't like licenses, but
				consider it free as a bird, baby.</p>
			<p>
				Development files are available at the <a
					href="https://bitbucket.org/pivlds/">Bitbucket pivlds team.</a>
			</p>
			<p>The Postgres database still needs to be made available. The
				files are too large to host in traditional source code repositories.
				This will be forthcoming.</p>
			<p>One of my key academic goals was to learn more about modern
				deployment technologies. I tried to approach development so that
				administrators and developers could reuse my work and develop it
				further. During development, I ran the application from JMU servers,
				my desktop, my laptop, and off of OpenShift cloud servers. I would
				be very happy if others wanted to get involved (or even pay me to do
				more work *hint* *hint* *wink* *wink*).</p>
		</div>

		<h2>Project History</h2>
		<div>
			<h3>Concept to Initial Prototype</h3>
			<p>&#960;VLDS started as an attempt to test a theory: we spend
				more resources on the students who are behind (pass/fail) than the
				ones that can achieve the most (pass/advanced).</p>
			<p>This quickly evolved (with some insightful academic guidance)
				into the question of how to study the impact of spending resources
				on different groups. Without being involved in the academic process,
				I could only hope to get good statistics in front of the people who
				they would be meaningful to. Starting with my initial theory, I
				asked myself, "how can I get to data that would show top performers
				aren't always related to the pass/fail ratio."</p>
			<p>As I worked with the data, I began to track changes that could
				be insightful.</p>
			<p>
				I started noticing big changes in certain groups, but discovered I
				was being fooled, because small population sizes were skewing the
				data. This was when I developed the idea of Demographic Weight. My
				first project milestone (<a href="https://bitbucket.org/pivlds/gp4">GP4</a>)
				was centered around showing how this figure could be used to
				normalize changes in enrollment data over time. I reasoned that the
				same process could be used to compare trends in test scores.
			</p>
			<p>During this time, I was also learning to work with JSF (Java
				Server Faces), a technology I had experimented with before and chose
				for the project based on my interest in getting deeper into it's
				capabilities. It had been a while, and I forgot many of the basics,
				so I spent a lot of time researching the complexities I had fallen
				out of touch with.</p>

			<h3>The Supposed to be 90% Milestone</h3>
			<p>
				For the next project milestone, (<a
					href="https://bitbucket.org/pivlds/gp5">GP5</a>), I focused on
				extending the concept to test scores. This involved developing the
				database code to handle data that was significantly more complex.
			</p>
			<p>I was able to apply the design methodology I had developed for
				enrollment data in GP4, but the increased complexity meant I had a
				lot of work to do to get my second working report (TAG History).</p>
			<p>I ended up designing a system of tiered selectors that relied
				on the fact that all test reports require at least the same
				information as enrollment reports. I then re-applied this idea back
				to my enrollment report, to make everything more consistent and
				clean.</p>
			<p>The design was very hard to keep track of during the early
				stages, and my house became littered with pages of diagrams and
				terminology as I tried to sort out the best way to go about it. It
				was a bit stressful, but I muscled through, and in the end, it
				allowed me to build the final stages of the report in a manner that
				was much cleaner that the gobbledy goop I had on the first round.</p>
			<p>In retrospect, while I had my skepticism midway, I do feel
				that modeling the concept explicitly paid of in the long run, even
				if it seemed like too much work in the short term. Rather than
				hunting bugs, I was able to focus on adding more and more working
				features, until I had everything I could possibly need. When I
				finally sorted all of my ad hoc work into sharable files, the
				results felt very clean and logical. Very little of it felt
				superfluous.</p>
			<p>The final report, Testing Velocity, was as simple as joining
				two TAG History Reports, and calculating the differences between
				some of their columns.</p>
			<p>I would have liked to do more work with reports that scan
				across different schools to find the most relevant changes in the
				reports I had already developed, but I still had a lot of work to do
				on the front end.</p>
			<p>The rest of GP5 was spent turning all of the backend data I
				had into a workable application.</p>
			<p>I had trouble deciding on an interface that would convey the
				information the way I understood it, while still looking right on
				across devices. I also had lots of technical hiccups as I learned to
				differentiate between problems with my code and problems with the
				server responding to incompatible changes.</p>
			<p>GP5 ended a bit `seat of the pants`. I got all four selectors
				and related reports up and running, with each split onto its own
				page; some reports lended to multiple graphs, which made me feel a
				bit better. Behind the scenes, I had the ability to choose one
				report option, for each selector, that would be stored based on the
				user/browser (instead of a single page). I also implemented some
				efficiency fixes for JSF that were caused by lack of anticipating
				some of it's more double-edged features.</p>
			<h3>The Final Push</h3>
			<p>For GP6, based on feedback and my own goals, I focused on
				changing the application so that it would explain how to use it and
				what each report means. Based on professional feedback, and my own
				original design goals, I also focused on comparing multiple reports
				side by side.</p>
			<p>I had a lot of personal conflicts that limited my development
				time to the last minute, so the majority of GP6 code was developed
				over a period of 48 hours, often while dealing with a wild card
				infant. I'm very proud of the level of improvement I achieved; I was
				really sweating bullets for a minute there, but it turned out pretty
				good.</p>
			<p>Only two tweaks had to be made to the database. It turned out
				that there was no name for the entire state as a division, so once I
				inserted one, it could be selected. I also sorted search results,
				which I had, surprisingly, forgotten to do for GP5.</p>
			<p>Back on the JSF side, I turned the entire state into the
				default state, and scrapped all of the old pages in favor of a new
				two page design: one for detailing a single school, and one for
				comparing reports.</p>
			<p>For each selector I had designed before, I worked to enable
				multiple copies to be stored for each user/browser.</p>
			<p>Schools were particularly tricky. I didn't want to trade in my
				search box/results page for a monolithic drop-down, and I was
				worried about getting too caught up in minor features and failing
				miserably.</p>
			<p>I ended up modifying the old search page to passable results
				(pun intended). I added options to expand to current school to its
				division or select the entire state. Behind the scenes, I modified
				the way it worked so that it stored the results under multiple
				names, based on the link used to reach it (hence the pun). I then
				reused the original selector as the default, which allowed me to
				still have all of my old code / test pages working. The result was
				that I could start building the new page, leave to select the
				school, come back, and have it work with nothing else broken in the
				process.</p>
			<p>From there I worked to extend this idea to demographics,
				tests, and achievement groups.</p>
			<p>As, I fixed the selectors one by one, I worked to clean up the
				associated code and add explanations. Slowly, I ended up with the
				complete `Report` page, which contained all of my long explanations,
				and all of the tables and charts in the cleanest style I had found
				in the process.</p>
			<p>I had planned on turning the explanations into some kind of
				pop-up, but a couple factors made me skeptical the farther I got
				into it. I liked the way the page read like a lesson, and I didn't
				want to hurt the educational value or usability of the application
				by trying to trim the fat, especially as I had been told repeatedly
				the material was hard to follow. I also couldn't decide which
				information to include in the `Compare` page or where.</p>
			<p>I decided that the information format was good, but it was too
				much for users once they understood the data. I added options to the
				home page which hid all of the explanations when toggled. Thanks to
				smart planning, this took all of 5 minutes.</p>
			<p>The final step was the `Compare` page. This went fairly
				quickly, but there were some technical hiccups.</p>
			<p>The test selection box is actually generated from the
				database, which requires some special rules in JSF. I had issues
				caused by typos, and my local server, and on top of that I didn't
				know if there was some special rules coming into play. In the long
				run, it turned out that the special rules caused different error
				messages than I would have expected, but that typos and server
				caching issues were the causes of my problems. This is an classic
				example of why JSF has a rocky reputation; for the record, I'm still
				a fan.</p>
			<p>I had to make compromises on the design because of time, and
				it turns out some of my performance optimizations become invalid
				when you have multiple versions of the report on the same page. I
				finished what I thought would be my final push with lingering
				performance issues and various UI flaws that were passable, but I
				wanted to address.</p>
			<p>Fortunately, I found time to squeeze one more session in
				before the big presentation. I was able to fix the performance
				issues by reusing my multiple selector methodology on the objects
				that run the reports.</p>
			<p>A major issue I identified as problematic, after the previous
				push, was that changing changing report options jumped you to the
				top of the page. The obvious solution to this is called AJAX, and I
				had crashed and burned with it before in JSF (a common complaint
				which leads many to rely on helper libraries or forgoe it all
				together). After an hour, I was close, but I didn't have time to see
				it through, so I implemented a simple table of contents on the
				report page and moved on to aesthetic fixes.</p>
			<p>I had never been happy with the scrollable table/chart
				combinations, and I wanted to do some sort of clever animation
				tricks, but every solution I thought of would have been problematic
				in one of the three screen layouts I was targeting. I ended up
				finding a CSS solution which made the scrolling layout look much
				cleaner. I had already found a thin screen/mobile layout that I
				liked, where nested scrolling was disabled, and I skipped the
				animation idea to focus on making all of the table and control
				elements play nice with this format. I then spent a dash of time on
				printable pages, but found that I could only get them in a format I
				liked on Firefox. In general, I found that my layout transferred to
				the printer options based on the screen size when print is selected.
				I expect I could have spent days studying how to best approach this
				problem. Most likely, the best solution would be to simply generate
				a downloadable spreadsheet or pdf. I also wanted to add download
				links to the charts, and the code itself is very simple, but I
				didn't have time to work it into the UI.</p>
			<h3>The Big Day</h3>
			<p>And so ends my final push (at least academically). It's now 2
				in the morning and I'll be presenting tomorrow. Where you there? How
				do you think it went?</p>
			<p>Oh, and I'm sorry, I forgot to bring the punch and &#960;</p>
		</div>

		<h2>And Thanks for All the Fishes</h2>
		<div>
			<p>One of the key development goals for this project was to
				eschew the use of popular helper libraries, such as jQuery,
				Bootstrap, and Primefaces. As much of the application was done
				without external resources as possible.</p>
			<p>That said, I did bring in a couple small helpers, and the
				project is developed on some interesting and notable technology.
				There's also some actual people who certainly deserve thanks.</p>
			<p>So, without further ado, let's get some shouts out:</p>
			<ul>
				<li>Chris Mayfield : The man, the legend. A great professor, an
					awesome lecture, and all around jovial and intelligent guy. He gave
					me the opportunity to challenge myself and helped me focus my ideas
					and not lose faith when I fell behind my own standards. This
					project wouldn't be here without him, and I can honestly say he is
					an outstanding educator who improved my life. That's coming from a
					cynic. Somebody give this guy a raise.</li>
				<li>Paulo Dorado : My assigned client for the project from CIT.
					He had great feedback, was super fun to talk to, and as a
					professional, really impressed me and his validation meant a lot.
					In one hour, I could tell that he is a different breed than so many
					developers I've met. Big thanks to this guy for taking the time.</li>
				<li>JSF : The Java EE technology this project is based on. So
					many cool things here, and so many pitfalls. Who knows if our
					relationship will last, but it's been a hell of a ride so far.</li>
				<li>Apache : One of the most noble organizations in technology.
					Let's get a round of applause for these guys right now. Seriously,
					if you're reading this, at least give them one clap. You probably
					don't even know how much they've impacted your life personally.</li>
				<li>Tomcat7 : One of Apache's most notable products, and the
					target environment for this project. I tried to get rolling with a
					lot of EE servers, but the simplicity and flexibility of deploying
					to Tomcat with Maven one out. They're the JBoss in my book. I don't
					care who is who.</li>
				<li>OmniFaces : Filling holes in JSF since god knows when. They
					really saved my butt on the school selector page. JSF standards
					move slow, but it's groups like these that show how the technology
					is a strong foundation for resuable design and community driven
					improvements.</li>
				<li>Animate.css : Used in testing, but didn't make it into the
					final product. A very cool thing to have for Just Another
					Javascript Hacker like me. Plus, that demo page is just so much
					fun.</li>
				<li>Maven : Another Apache classic. No one taught them how to
					write documentation, but that didn't stop it from getting me
					running on every computer I needed to develop on. Build tools for
					the win. We should really be teaching kids about this stuff.</li>
				<li>Eclipse Foundation : &#960;VLDS was developed on
					`eclipse-jeemars`. It has a lot of issues, but they've still got my
					love. They think big, they go big, and they're dedicated to good
					causes in big ways. I've got a lot of respect for these guys.</li>
				<li>jQUery and Primefaces : You know what, I didn't even use
					these on purpose, to challenge myself, but I owe them lots of
					credit. They taught me worlds and this project wouldn't be half as
					competent without them. They didn't just teach me about the basics
					and the technical details, but about what technology and
					communities can do when pushed further with big ideas, aspirations,
					and intentions.</li>
			</ul>
			<p>Let's get a big round of applause for all these guys and all
				of their hard work. :D &#160;</p>
			<p>Oh, and of course:</p>

			<ul>
				<li>My infant daughter : A vibrant, amazing little girl. As I
					watch her sleeping next to me while I code and think, the pale glow
					of the monitor washing over us like moonlight, it reminds me why I
					struggled through all of this in the first place. Because I always
					challenged myself; I always found thrill in learning more, and
					creating, and discovering, even when that was out of touch with the
					world around me and the opportunities before me. And now, because
					of her, I owe it to both of us to strive for those same qualities,
					all over again and in the face of even more challenges. This was an
					opportunity to do that. She has been an opportunity to do that.

					<p>She's going to be a little coding, artist, rebel. I'm
						telling ya. Just wait and see.</p>
				</li>
			</ul>
		</div>

		<h2>Except for Those Guys</h2>
		<div>I don't like Oracle. They own some of the underlying
			technology here, and they are the kind of old hat company that think
			that gives them a right to weasel money out of people and rule like
			dictators, all the while treating very benevolent organizations with
			flagrant disrespect. It wasn't even like they invented this stuff;
			they bought it. Anyway, I refuse to say anything nice about them.
			Don't take the implication that I somehow respect them. Thanks.</div>

		<h2>About the Author</h2>
		<div>
			<p>James Arlow is a 31 year old VCCS transfer student and a
				life-long computer user. He spent nearly a decade as a IT
				Administrator, and countless sleepless nights coding for fun and
				profit.</p>
			<p>Growing up in Rockingham County, Virginia, he copied his first
				program out of a Commodore 64 manual when he was ~7 years old. It
				was a choose your own adventure game about fighting a tank. The
				player always lost, so he figured out how to add new endings where
				he could win.</p>
			<p>The new endings are still being written...</p>
		</div>

	</ui:define>
</ui:composition>
</html>
