<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://xmlns.jcp.org/jsf/composite/composites'
	xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">

<ui:composition template='/template/page.xhtml'>

	<ui:define name="head">
		<title>&#960;VLDS | Compare</title>
		<h:outputStylesheet library="css" name="compare.css" />
	</ui:define>

	<ui:define name="content">

		<h:form id="compare-form">
			<ui:repeat value="#{fn:split('Left,Right',',')}" var="var">
				<div class="compare #{var}">
					<h2>#{var}</h2>
					<div class="controls">
						<div>
							<h:link id='school-picker-#{var}'
								outcome="/pick-school.jsf?sel_sch=#{var}">
								<composites:school target="#{schoolSelectors.get(var).current}" />
							</h:link>
						</div>
						<div>
							<composites:demographic-picker
								target="#{demographicSelectors.get(var)}" />
						</div>
						<div class="table-wrapper">
							<h:panelGrid id="mode-options" style="margin-top:.25em;"
								columns="3" styleClass="mode-box">
								<h:outputLabel value="Mode" />
								<h:outputLabel value="Test" />
								<h:outputLabel value="Tag" />

								<composites:report-picker id="pick-report"
									target="#{compareModes.selector(var).mode}" />

								<composites:test-picker id="test-picker"
									target="#{testSelectors.get(var)}"
									disabled="#{compareModes.selector(var).mode eq 'Enrollment_History'}" />
								<composites:tag-picker id="tag-picker"
									target="#{tagSelectors.get(var)}"
									disabled="#{compareModes.selector(var).mode ne 'TAG_History'}" />
							</h:panelGrid>
						</div>
					</div>
					<!-- /.controls -->


					<composites:evcharts key="#{var}"
						rendered="#{compareModes.selector(var).mode eq 'Enrollment_History'}"
						school="#{schoolSelectors.get(var).current}"
						demographic="#{demographicSelectors.get(var)}" />

					<composites:vt-charts key="#{var}"
						rendered="#{compareModes.selector(var).mode eq 'Velocity_Trends'}"
						school="#{schoolSelectors.get(var).current}"
						demographic="#{demographicSelectors.get(var)}"
						test="#{testSelectors.get(var).selected}" />

					<composites:th-charts key="{var}"
						rendered="#{compareModes.selector(var).mode eq 'TAG_History'}"
						school="#{schoolSelectors.get(var).current}"
						demographic="#{demographicSelectors.get(var)}"
						test="#{testSelectors.get(var).selected}"
						tag="#{tagSelectors.get(var).selected}" />
				</div>
			</ui:repeat>
		</h:form>
	</ui:define>

</ui:composition>
</html>
