<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:o="http://omnifaces.org/ui">

<ui:composition template='/template/page.xhtml'>
	<f:metadata>
		<f:viewParam name="sel_sch" value="#{selectorKeys.school}" />
	</f:metadata>

	<ui:define name='head'>
		<title>Select School</title>
	</ui:define>

	<ui:define name='content'>
		<o:form id="form-school-select" includeViewParams="true">
			<h2>
				Select
				<h:outputText rendered="#{not empty selectorKeys.school}"
					value="#{selectorKeys.school}" />
				School
			</h2>
			<composites:school-picker key="#{selectorKeys.school}" />
		</o:form>
	</ui:define>
</ui:composition>
</html>
