<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name='head'>
		<title>Select Demographic</title>
	</ui:define>

	<ui:define name='content'>
		<h:form id='dem-picker' styleClass="controls">
			<composites:demographic-picker />
		</h:form>
		<composites:evcharts rendered='#{schoolSelector.current.valid}' />
	</ui:define>
</ui:composition>
</html>
