<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'>

<ui:composition template='/template/page.xhtml'>
	<ui:define name="head">
		<title>&#960;VLDS | VLDS Race Codes</title>
	</ui:define>

	<ui:define name="content">
		<pre>
		<code>
0	unspecified (used through the 2009-2010 school year)
1	American Indian/Alaska Native
2	Asian
3	Black or African/American
4	Hispanic of any race
5	White
6	Native Hawaiian/Other Pacific Islander
99	Two or more races, non-Hispanic (added in 2010-2011)
	</code>
	</pre>

	</ui:define>

</ui:composition>
</html>
