<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:composites='http://java.sun.com/jsf/composite/composites'
	xmlns:o="http://omnifaces.org/ui">

<ui:composition template='/template/page.xhtml'>
	<ui:define name="head">
		<title>&#960;VLDS | Report</title>
		<f:viewParam name="sch_key" />
		<f:viewParam name="dem_key" />
		<f:viewParam name="test_key" />
	</ui:define>

	<ui:define name="content">
		<o:form id="report-form">
			<h1>Testing Report</h1>
			<div class="toc">
				<a href="#region">Region</a> <a href="#dem">Demographic</a> <a
					href="#test">Test</a> <a href="#tv">Velocities</a> <a
					href="#tag">Achievement Groups</a>
			</div>
			<h2 id="region">Region</h2>

			<h:panelGroup layout="block">
				<h:link outcome="/pick-school.jsf">
					<f:param name="sel_sch" value="Report" />
					<composites:school
						target="#{schoolSelectors.get('Report').current}" />
				</h:link>
			</h:panelGroup>

			<div class='instruct'>Click the region table to search for
				another region.</div>

			<div class='explain'>
				<p>In the VLDS, every region is considered a `school` inside a
					`division`. This includes special categories, such as entire
					divisions, jails, and the entire state.</p>
				<p>For &#960;VLDS, we'll use the term `location` instead of
					`school`, to avoid confusion when a `division` is categorized as a
					`school`. `Districts` will refer to areas composed of multiple
					`locations`.</p>
				<p>A `region` refers to a `district`::`location` combination.</p>
			</div>

			<h2 id="dem">Demographic</h2>
			<composites:demographic-picker
				target="#{demographicSelectors.get('Report')}" />
			<div class='instruct'>Select the demographic group.</div>

			<div class='explain'>
				<p>The VLDS summarizes testing and enrollment data based on
					demographic categories.</p>
				<p>The default demographic is `ALL` students. In &#960;VLDS, we
					also refer to this as the `global` demographic.</p>
				<p>The following filters are available:</p>
				<ul>
					<li>Race : As identified by <h:link outcome="/race"
							value="VLDS Race Codes" />.
					</li>
					<li>Gender : VLDS code indicating <span
						style='text-decoration: underline;'>M</span>ale and <span
						style='text-decoration: underline;'>F</span>emale.
					</li>
					<li>Disabil : VLDS code indicating students with disabilities.</li>
					<li>Disadva : VLDS code indicating students with disadvantaged
						status.</li>
					<li>LEP : VLDS code indicating Limited English Proficiency.</li>
				</ul>
			</div>

			<h2>Enrollment Statistics</h2>

			<composites:evcharts
				school="#{schoolSelectors.get('Report').current}"
				demographic="#{demographicSelectors.get('Report')}" />

			<div class='explain'>
				<p>In the VLDS, regional enrollment data is summarized by
					demographic.</p>
				<p>In &#960;VLDS, we look at this data in two ways.</p>
				<h3>Raw Counts:</h3>
				<ul>
					<li>Count : The number of students in the current demographic.</li>
					<li>Global : The number of students in the `ALL` demographic.</li>
					<li>Diff : The change in `Count` from the previous year.</li>
				</ul>
				<h3>Ratios:</h3>
				<ul>
					<li>Weight : `Count` as a percentage of `Global`.
						<p>We can multiply this by other ratios to measure the impact
							of each statistic on the entire region.</p>
						<p>For the global demographic, this will always be 1.0,
							because it represents 100% of itself.</p>
					</li>
					<li>Growth : `Diff` as a percentage of last year's `Count`.
						<p>This tells us if the population grows or shrinks by x
							percent.</p>
					</li>
					<li>Growth Weighted : `Growth` times `Weight`.
						<p>This tells us how the change in population looks as a
							percentage of the global population.</p>
						<p>For smaller demographics, small shifts in population can
							cause high `growth`, but the impact on the global population is
							actually smaller, or even negligible (&lt;1%). This stat helps
							give perspective to the growth rate without having to compare it
							side by side with the global statistics.</p>
						<p>To help visualize why this is important. Consider a
							demographic that goes from having 20 students to 40, in a school
							of 1000. The growth rate would be 100%, but the school only grew
							in size by 2%.</p>
					</li>
				</ul>
			</div>

			<h2 id="test">Test</h2>
			<h:panelGrid columns="1">
				<h:outputText value="Subject :: Section [Level]" />
				<composites:test-picker />
			</h:panelGrid>
			<div class='instruct'>Select the test subject, section, and
				level.</div>


			<div class='explain'>
				<p>The VLDS summarizes test data based on the test type,
					version, and the academic level of the students.</p>
				<ul>
					<li>Subject : The general category of the test, e.g. `Math`.
						Identified by VLDS subject codes.</li>
					<li>Section : A specific test within a subject, e.g.
						`Algebra&#160;I`.</li>
					<li>Level : The grading level of the students taking the test.
						<ul>
							<li>For elementary and middle schools, this will be the
								grade level.</li>
							<li>`CST` tests are taken by graduating middle schools.</li>
							<li>`EOC` (End of Course) is used by high schools, where the
								grade level of the student may vary.</li>
							<li>`ALL` considers all levels, and will be equivalent to
								`EOC` in high schools.</li>
						</ul>
					</li>
				</ul>
			</div>

			<h2 id="tv">Testing Velocity</h2>
			<composites:vt-charts id="vt-artifacts"
				school="#{schoolSelectors.get('Report').current}"
				demographic="#{demographicSelectors.get('Report')}"
				test="#{testSelector.selected}" />

			<div class='explain'>
				<p>The VLDS summarizes the percentage of students in each SOL
					score group.</p>
				<p>In &#960;VLDS, we refer to these as Testing Achievement
					Groups (TAG), and we name them from top to bottom.</p>
				<h3>&#960;VLDS TAG : SOL Score Group</h3>
				<ul>
					<li><strong>TOP</strong> : `Pass/Advanced`</li>
					<li><strong>MID</strong> : `Pass/Proficient`</li>
					<li><strong>LOW</strong> : `Fail`</li>
				</ul>
				<h3>Velocity Categories</h3>
				<p>Because students must "fall" or "climb" through the middle
					group to get the other side, we can think of the pass rates as
					traveling up or down. We use the term `velocity`, to describe the
					direction of each group between the years.</p>
				<p>For each TAG's velocity:</p>
				<ul>
					<li>Positive means an increased percentage of students from
						the previous year.</li>
					<li>Negative means a decreased percentage of students from the
						previous year.</li>
					<li>Zero means the same percentage of students from the
						previous year.</li>
				</ul>
				<p>The number of students failing is always related to the
					number of students passing, so we only need to look at two of these
					velocities to get the full picture.</p>
				<ul>
					<li>UPPER Velocity : The velocity of the TOP tag.</li>
					<li>LOWER Velocity : The combined velocity of the TOP and MID
						TAG.
						<p>This is also the opposite of the LOW TAG velocity:</p>
						<ul>
							<li>As more students fail, the velocity decreases.</li>
							<li>As more students pass or pass advance, the velocity
								increases.</li>
							<li>If more students pass advanced while more students also
								fail, the result will be the net velocity.</li>
						</ul>
					</li>
				</ul>
				<p>The two velocities are not always in the same direction.
					There are cases where more students pass advanced and fail at the
					same time. What does that say about the schools, the tests, and the
					students?</p>
				<h3>Weighted Velocities</h3>
				<p>Multiplying both velocities by the enrollment weight shows us
					the same velocity but as a percentage of the global population.</p>
				<p>If the number of students passing goes from 20 students to
					40, in a school of 1000. The velocity would be +20%, but the
					school's pass rate only increased only grew in size by 2% of the
					students.</p>

				<h3>Relationship Between Velocities</h3>
				<p>Remember that velocity is measured in change. Zero velocity
					means the same as last year.</p>
				<p>The relationship between the two velocities describes overall
					student performance:</p>
				<ul>
					<li>If UPPER and LOWER both increase, all students are
						improving.</li>
					<li>If UPPER increases, and LOWER is zero, all students are
						doing the same or better.</li>
					<li>If UPPER is zero, and LOWER increases. More students are
						passing, but the same number of students are advanced.</li>
					<li>If UPPER and LOWER are both zero, student performance is
						the same as the previous year.</li>
					<li>If UPPER decreases and LOWER is zero, the same number of
						students are passing, but less are advanced.</li>
					<li>If UPPER and LOWER both decease, all student's are doing
						worse.</li>
				</ul>

				<h3>Questions About Velocities</h3>
				<p>&#960;VLDS is intended to help research the relationships
					between students, curriculums, and tests. When looking at the
					velocity trends, consider the following questions:</p>
				<ul>
					<li>Is there a certain number of students who will always be
						more advanced on their own?</li>
					<li>How do changes in curriculums affect students with
						different levels of innate ability?</li>
					<li>Is it more important to focus on the strongest students or
						the weakest?</li>
					<li>When students do better or worse, is it because of the
						curriculum, the test, or demographic factors.</li>
					<li>When deciding how to spend resources to help students,
						should they be spent on the larger groups, with high demographic
						weight, that will most improve overall performance, or smaller
						groups, with low demographic rate, that are currently under-served
						or under-performing.</li>
				</ul>
			</div>

			<h2 id="tag">Testing Achievement Groups</h2>

			<div class='explain'>
				<p>In &#960;VLDS, Testing Velocities are computed using the
					detailed history of each TAG. Specifically, they are calculated
					using the TOP and MID tag.</p>
				<p>Each group can be studied in detail using the raw statistics.</p>

				<h3>TAG Statistics</h3>
				<ul>
					<li>Rate : The percentage of students in the demographic whose
						scores placed them in the TAG category.</li>
					<li>Diff : The change in rate since the previous year.</li>
					<li>Velocity : The direction of the `Diff` as a percentage
						going up or down into another TAG.</li>
					<li>Velocity : The direction of the `Diff` as a percentage
						going up or down into another TAG.</li>
				</ul>
				<h3>TAG Weighted Statistics</h3>
				<p>As with enrollment growth and testing velocities, we can
					multiply each TAG stat by the demographic weight to see its impact
					on the global population.</p>
				<p>For smaller populations, you'll see that changes in testing
					statistics have little impact on overall school performance and
					velocity. In many cases, the impact will be close to zero even when
					the impact on the group itself is significant.</p>
				<p>For larger populations, weighted statistics will be similar
					to the raw demographic versions.</p>
				<p>To help understand this effect, try comparing students with
					disabilities to students without disabilities.</p>
			</div>

			<h3>TOP</h3>
			<composites:th-charts key="top" tag="TOP"
				school="#{schoolSelectors.get('Report').current}"
				demographic="#{demographicSelectors.get('Report')}"
				test="#{testSelector.selected}" />
			<h3>MID</h3>
			<composites:th-charts key="mid" tag="MID"
				school="#{schoolSelectors.get('Report').current}"
				demographic="#{demographicSelectors.get('Report')}"
				test="#{testSelector.selected}" />
			<h3>LOW</h3>
			<composites:th-charts key="low" tag="LOW"
				school="#{schoolSelectors.get('Report').current}"
				demographic="#{demographicSelectors.get('Report')}"
				test="#{testSelector.selected}" />
		</o:form>
	</ui:define>
</ui:composition>
</html>
